body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline-block;
}

.nav-button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 1px ridge #d3d3d3;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.nav-button::after {
    content: "";
     position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}

.nav-button::before {
    content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.nav-button::before, .nav-button::after {
    transform: scale(0)
}

.nav-button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

section {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
}
